<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汽车详情查看</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:editable="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/easyuitemplate/easyui.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" type="text/css" href="../public/easyuitemplate/icon.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css">
    <link rel="stylesheet" href="../public/css/custom.common.css">
    <link rel="stylesheet" type="text/css" href="../carmanage/storeManage/car_list.css">
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../public/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
    <script type="text/javascript" src="../carmanage/storeManage/car_list.js"></script>
</head>
<body class="clearBorder">
<!-- 主表 -->
<div id="header" style="text-align:right;height: 80px">
    <div style="align:left">
        汽车编号：<input  id="carCode" class="form-control form-control-inline" name="carCode"  value="">
        汽车名：<input  id="carName" class="form-control form-control-inline" name="carName"  value="">
        汽车型号：<input  id="carModel" class="form-control form-control-inline" name="carModel"  value="">
        厂商：<input  id="manufacturerSelect"  name="manufacturerId" class="easyui-combobox"  editable="false" value=""/>
        仓库：<input  id="storeInfoSelect"  name="storeInfoId" class="easyui-combobox"  editable="false" value=""/>
        生产日期：<input id="productionStartDate" name="productionStartDate" type="text" class="easyui-datebox" placeholder="开始日期" editable="false">
        --<input id="productionEndDate" name="productionEndDate" type="text" class="easyui-datebox" placeholder="结束日期" editable="false">
        入库日期：<input id="storageStartDate" name="storageStartDate" type="text" class="easyui-datebox" placeholder="开始日期" editable="false">
        --<input id="storageEndDate" name="storageEndDate" type="text" class="easyui-datebox" placeholder="结束日期" editable="false">
        <a id="query" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-search" onclick="checkInputQuery();">查询</a>
        <a id="reset" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-reload" onclick="reset();">重置查询</a>
    </div>
</div>

<div class="easyui-panel" data-options="header:'#header',maximized : true">
    <table id="car_tab" style="width:100%;height:100%;">
    </table>
</div>

<div id="win">
    <img id="stationImg" style="width:100%;height:100%;"/>
</div>
</body>
<script>

</script>
</html>