<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/easyuitemplate/easyui.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" type="text/css" href="../public/easyuitemplate/icon.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css">
    <link rel="stylesheet" href="../public/css/custom.common.css">
    <link rel="stylesheet" type="text/css" href="../carmanage/storeManage/car_img.css">
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../public/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
    <script type="text/javascript" src="../carmanage/storeManage/car_img.js"></script>
</head>
<body class="clearBorder">
<!-- 主表 -->
<div id="header" style="text-align:right;">
    <span class="header-left">汽车图片管理</span>
    <div>
        汽车名：<input  id="carName" class="form-control form-control-inline" name="carName"  value="">
        汽车型号：<input  id="carModel" class="form-control form-control-inline" name="carModel"  value="">
        汽车颜色：<input  id="carColor" class="form-control form-control-inline" name="carColor"  value="">
        <a id="query" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-search" onclick="checkInputQuery();">查询</a>
        <a id="reset" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-reload" onclick="reset();">重置查询</a>
        <a id="carImg_add" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-add" onclick="addCarImg();">新增</a>
        <a id="carImg_edit" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-edit"  onclick="editCarImg();" disabled="disabled">修改</a>
        <a id="carImg_remove" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-remove"  onclick="removeCarImg();" disabled="disabled">删除</a>
    </div>
</div>

<div class="easyui-panel" data-options="header:'#header',maximized : true">
    <table id="carImg_tab" style="width:100%;height:100%;">
    </table>
</div>

<div id="win">
    <img id="carImg" style="width:100%;height:100%;"/>
</div>

<!--新增/编辑的模态框 -->
<div id="carImg_data" class="easyui-dialog" style="width: 800px;height: 500px;" closed="true" cache="false" modal="true" buttons="#dlg-buttons">
    <form id="carImgForm" method="post" style="padding:10px 20px 10px 40px;" action="/car_img/saveOrUpdateCarImg" >
        <div class="carImgData">
            <div class="carImginfo">
                <table id="carImg_info" class="carImg_info" border="0">
                    <input type="hidden" name="id" />
                    <input type="hidden" id="car_img" name="carImg" />
                    <input type="hidden" id="use_status" name="useStatus" value="0"/>
                    <tr>
                        <td>*汽车名:</td>
                        <td class="form-control-inner">
                            <input  id="car_name"  name="carName" class="easyui-validatebox form-control" required="required"/>
                        </td>
                        <td>*汽车型号:</td>
                        <td class="form-control-inner">
                            <input  id="car_model"  name="carModel" class="easyui-validatebox form-control" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>*汽车颜色:</td>
                        <td class="form-control-inner">
                            <input  id="car_color"  name="carColor" class="easyui-validatebox form-control" required="required" />
                        </td>
                        <td>*描述:</td>
                        <td class="form-control-inner" >
                            <input  id="car_note"  name="carNote" class="easyui-validatebox form-control" required="required" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <!-- 上传汽车照片 -->
    <form id="uploadCarPic" name="uploadCarPic" method="post" enctype="multipart/form-data" style="padding: 0 20px 0 20px;">
        <input id="file" name="file" type="file" title="上传" placeholder="请选择汽车图片">
    </form>
</div>
<!--模态框按钮 -->
<div id="dlg-buttons">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="text-align:right">
                <a href="#" class="easyui-linkbutton blue" iconCls="icon-save" onclick="checkInputAdd();">确定</a>
                <a href="#" class="easyui-linkbutton darkblue" iconCls="icon-cancel" onclick="javascript:$('#carImg_data').dialog('close')">关闭</a>
            </td>
        </tr>
    </table>
</div>
</body>
<script>

</script>
</html>