<!DOCTYPE html>
<html lang="en" xmlns:editable="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/easyuitemplate/easyui.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" type="text/css" href="../public/easyuitemplate/icon.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css">
    <link rel="stylesheet" href="../public/css/custom.common.css">
    <link rel="stylesheet" type="text/css" href="../carmanage/storeManage/car_list.css">
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../public/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
    <script type="text/javascript" src="../carmanage/storeManage/car_list.js"></script>
</head>
<body class="clearBorder">
<!-- 主表 -->
<div id="header" style="text-align:right;height: 80px">
    <div style="align:left">
        汽车编号：<input  id="carCode" class="form-control form-control-inline" name="carCode"  value="">
        汽车名：<input  id="carName" class="form-control form-control-inline" name="carName"  value="">
        汽车型号：<input  id="carModel" class="form-control form-control-inline" name="carModel"  value="">
        厂商：<input  id="manufacturerSelect"  name="manufacturerId" class="easyui-combobox"  editable="false" value=""/>
        仓库：<input  id="storeInfoSelect"  name="storeInfoId" class="easyui-combobox"  editable="false" value=""/>
        生产日期：<input id="productionStartDate" name="productionStartDate" type="text" class="easyui-datebox" placeholder="开始日期" editable="false">
        --<input id="productionEndDate" name="productionEndDate" type="text" class="easyui-datebox" placeholder="结束日期" editable="false">
        入库日期：<input id="storageStartDate" name="storageStartDate" type="text" class="easyui-datebox" placeholder="开始日期" editable="false">
        --<input id="storageEndDate" name="storageEndDate" type="text" class="easyui-datebox" placeholder="结束日期" editable="false">
        <a id="query" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-search" onclick="checkInputQuery();">查询</a>
        <a id="reset" href="javascript:void(0)" class="easyui-linkbutton blue" iconCls="icon-reload" onclick="reset();">重置查询</a>
    </div>
    <div style="float:left;margin-left: 20px;">
        <a id="car_add" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-add" onclick="addCar();">新增</a>
        <a id="car_edit" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-edit"  onclick="editCar();" disabled="disabled">修改</a>
        <a id="car_move" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-edit"  onclick="moveStore();" disabled="disabled">移库</a>
        <a id="car_remove" href="javascript:void(0)" class="easyui-linkbutton white" iconCls="icon-remove"  onclick="removeCar();" disabled="disabled">删除</a>
    </div>
</div>

<div class="easyui-panel" data-options="header:'#header',maximized : true">
    <table id="car_tab" style="width:100%;height:100%;">
    </table>
</div>

<div id="win">
    <img id="stationImg" style="width:100%;height:100%;"/>
</div>


<!--新增/编辑的模态框 -->
<div id="car_data" class="easyui-dialog" style="width: 800px;height: 500px;" closed="true" cache="false" modal="true" buttons="#dlg-buttons">
    <form id="carForm" method="post" style="padding:10px 20px 10px 40px;" action="/car/saveOrUpdateCar" >
        <div class="carData">
            <div class="carinfo">
                <table id="car_info" class="car_info" border="0">
                    <input type="hidden" name="id" />
                    <input type="hidden" name="useStatus" id="use_status" value="0"/>
                    <input type="hidden" name="marginCapacity" id="margin_capacity" value="0"/>
                    <input type="hidden" name="capacity" id="car_capacity" value="0"/>
                    <tr>
                        <td>*汽车编号:</td>
                        <td>
                            <input  class="easyui-validatebox form-control" id="car_code" name="carCode" required="required" editable="false"/>
                        </td>
                        <td>*汽车名:</td>
                        <td>
                            <input  class="easyui-validatebox form-control" id="car_name" name="carName" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>*汽车型号:</td>
                        <td>
                            <input type="text" class="easyui-validatebox form-control" id="car_model" name="carModel" required="required" />
                        </td>
                        <td>*汽车颜色:</td>
                        <td>
                            <input type="text" class="easyui-validatebox form-control" id="car_color" name="carColor" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>*生产日期:</td>
                        <td>
                            <input id="production_date" name="productionDates" type="text" class="easyui-datebox" placeholder="开始日期" editable="false">
                        </td>
                        <td>*产地:</td>
                        <td>
                            <input type="text" class="easyui-validatebox form-control" id="yieldly" name="yieldly" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>*所属仓库:</td>
                        <td class="form-control-inner">
                            <input  id="store_id"  name="storeId" class="easyui-combobox" required="required" editable="false"/>
                        </td>
                        <td>*所属厂商:</td>
                        <td class="form-control-inner">
                            <input  id="manufacturer_id"  name="manufacturerId" class="easyui-combobox" required="required" editable="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>*发动机编号:</td>
                        <td>
                            <input type="text" class="easyui-validatebox form-control" id="engine_number" name="engineNumber" required="required" />
                        </td>
                        <td>*流向:</td>
                        <td>
                            <input type="text" class="easyui-validatebox form-control" id="flow" name="flow" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>*描述:</td>
                        <td colspan="4" >
                            <input class="easyui-textbox" data-options="multiline:true" style="height:60px;width: 500px;" id="car_note" name="carNote"  required="required">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

<!--模态框按钮 -->
<div id="dlg-buttons">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="text-align:right">
                <a href="#" class="easyui-linkbutton blue" iconCls="icon-save" onclick="checkInputAdd();">确定</a>
                <a href="#" class="easyui-linkbutton darkblue" iconCls="icon-cancel" onclick="javascript:$('#car_data').dialog('close')">关闭</a>
            </td>
        </tr>
    </table>
</div>


<!--新增/编辑的模态框 -->
<div id="move_store_data" class="easyui-dialog" style="width: 800px;height: 500px;" closed="true" cache="false" modal="true" buttons="#dlg-button">
    <form id="moveStoreForm" method="post" style="padding:10px 20px 10px 40px;" action="/car/move_store" >
        <div class="moveStoreData">
            <div class="moveStore">
                <table id="move_store" class="move_store" border="0">
                    <input type="hidden" name="id" />
                    <tr>
                        <td>*汽车编号:</td>
                        <td>
                            <input  id="car_codes" name="carCode" disabled="disabled"/>
                        </td>
                        <td>*汽车名:</td>
                        <td>
                            <input  id="car_names" name="carName"  disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td>*汽车型号:</td>
                        <td>
                            <input type="text"  id="cars_model" name="carModel" disabled="disabled" />
                        </td>
                        <td>*汽车颜色:</td>
                        <td>
                            <input type="text"  id="car_colors" name="carColor" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td>*生产日期:</td>
                        <td>
                            <input id="production_dates" name="productionDate" type="text" disabled="disabled">
                        </td>
                        <td>*产地:</td>
                        <td>
                            <input type="text"  id="yieldlys" name="yieldly" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td>*所属仓库:</td>
                        <td class="form-control-inner">
                            <input  id="store_ids"  name="storeId" class="easyui-combobox" required="required" editable="false"/>
                        </td>
                        <td>*所属厂商:</td>
                        <td class="form-control-inner">
                            <input  id="manufacturer_ids"  name="manufacturerId" class="easyui-combobox"  editable="false" disabled="disabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>*发动机编号:</td>
                        <td>
                            <input type="text"  id="engine_numbers"name="engineNumber" disabled="disabled" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

<!--模态框按钮 -->
<div id="dlg-button">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="text-align:right">
                <a href="#" class="easyui-linkbutton blue" iconCls="icon-save" onclick="moveStoreAdd();">确定</a>
                <a href="#" class="easyui-linkbutton darkblue" iconCls="icon-cancel" onclick="javascript:$('#move_store_data').dialog('close')">关闭</a>
            </td>
        </tr>
    </table>
</div>
</body>
<script>

</script>
</html>