<!DOCTYPE html>
<html style="width:100%;height:100%" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/easyuitemplate/easyui.css">
    <link rel="stylesheet" type="text/css" href="../public/easyuitemplate/icon.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/custom.common.css">

    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
    <script type="text/javascript" src="../carmanage/sysManage/authority_list.js"></script>

</head>
<body style="width:100%;height:100%;" class="clearBorderOnly">
<div id="header" style="text-align: right;">
    <span class="header-left">权限管理</span>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="createResource()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" onclick="editResource()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" onclick="removeResource()">删除</a>
</div>

<div class="easyui-panel" data-options="header:'#header',maximized : true">
    <ul id="tt"></ul>
</div>

<div id="dlg" class="easyui-dialog" title="Basic Dialog">
    <form id="fid" action="/authority/saveOrUpdateAuthority" method="post" class="padding-10">
        <input type="hidden" name="id">
        <ul class="li-horizontal">
            <li>
                <span class="text-center">*资源名称: </span>
                <div><input class="easyui-validatebox form-control borderbox" type="text" name="authorityName"  data-options="required:true"></div>
            </li>
            <li>
                <span class="text-center">*资源路径: </span>
                <div><input class="easyui-validatebox form-control borderbox" type="text" name="url"  data-options="required:true"></div>
            </li>
            <li>
                <span class="text-center">父节点: </span>
                <div>
                    <input type="hidden" name="parentName" id="parentName">
                    <input type="hidden" name="parentId" id="parentId">
                    <select id="selectId" style="width: 200px"></select>
                </div>
            </li>
            <li>
                <span class="text-center">icon: </span>
                <div >
		    			 <span id="iconSpan" class="iconfont">
				            <input type="hidden" name="icon">
				            <a href='javascript:;' onclick='$("#iconsFrame").show()'>选择图标</a>
	        			 </span>
                </div>
            </li>
        </ul>
    </form>
    <iframe id="iconsFrame" src="../public/fonts/demo.html" border="0" style="width: 100%;height: 200px;display: none"></iframe>
</div>

</body>
</html>