<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../public/easyuitemplate/easyui.css">
    <link href="../public/css/base.css" rel="stylesheet">
    <link href="../public/css/platform.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/addstyle.css">
    <link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../public/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
    <script type="text/javascript" src="../main/main.js"></script>
    <style>
        #password_info tr{height:35px;}
        #password_info td th{text-align:right;}
        #password_info input{width:150px;}
        #password_info select{width:200px;}
    </style>
</head>
<body>
<div class="container">
    <div id="pf-hd">
        <div class="pf-logo">
            <span class="logo-title">汽车管理系统</span>
        </div>
        <div class="pf-nav-wrap">
            <div class="pf-nav-ww">
                <ul class="pf-nav" id="top-level-container">
                </ul>
            </div>
            <a href="javascript:;" class="pf-nav-prev disabled iconfont">&#xe606;</a>
            <a href="javascript:;" class="pf-nav-next iconfont">&#xe607;</a>
        </div>
        <div class="pf-user">
            <h4 class="pf-user-name ellipsis" th:text="${userInfo.account}"></h4>
            <i class="iconfont xiala">&#xe607;</i>

            <div class="pf-user-panel">
                <ul class="pf-user-opt">
                    <li class="pf-largeScreen">
                        <a href="../main/main">
                            <i class="iconfont">&#xe6a6;</i>
                            <span class="pf-opt-name">首页</span>
                        </a>
                    </li>
                    <li class="pf-modify-pwd">
                        <a href="javascript:;">
                            <i class="iconfont">&#xe634;</i>
                            <span class="pf-opt-name">修改密码</span>
                        </a>
                    </li>
                    <li class="pf-logout">
                        <a>
                            <i class="iconfont">&#xe60e;</i>
                            <span class="pf-opt-name">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="position: relative;float: right;height: 70px;line-height: 70px;color:white">
            欢迎您！
        </div>
    </div>

    <div id="pf-bd">
        <div id="pf-sider"></div>
        <div id="pf-page">
            <div id="tabs1" class="easyui-tabs1" style="width:100%;height:100%;"></div>
        </div>
    </div>

    <div id="pf-ft">
        <div class="system-name">
            <i class="iconfont">&#xe65e;</i>
            <span>汽车后台管理系统&nbsp;v1.0</span>
        </div>
        <div class="copyright-name">
            <span>&copy;&nbsp;wmt&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
</div>

<!--修改密码的模态框 -->
<div id="cg_password" class="easyui-dialog" style="width: 500px;height: 300px;" closed="true" cache="false" modal="true" buttons="#dlg-buttons">
    <form id="passwordForm" method="post" style="padding:10px 20px 10px 40px;" action="/main/change/pwd" >
        <div class="passwordData">
            <div class="passwordinfo">
                <table id="password_info" class="password_info" border="0">
                    <input  name="userId" id="userId" th:value="${userInfo.id}" hidden="true"/>
                    <tr>
                        <td>*用户名:</td>
                        <td>
                            <input  class="easyui-validatebox form-control" id="username" name="userName" required="required" editable="false" th:value="${userInfo.account}" readOnly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td>旧密码:</td>
                        <td>
                           <input type="password" class="easyui-validatebox form-control" name="oldPwd" id="useroldpwd"  data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td>新密码:</td>
                        <td>
                            <input type="password" id="userpwd"  name="newPwd" class="easyui-validatebox form-control"required="required" />
                        </td>
                    </tr>
                         <tr>
                        <td>确认密码:</td>
                        <td>
                            <input type="password" id="userrepwd"   class="easyui-validatebox form-control"required="required" validType='equals["#userpwd"]' />
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>
</div>

<!--模态框按钮 -->
<div id="dlg-buttons">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="text-align:right">
                <a href="#" class="easyui-linkbutton blue" iconCls="icon-save" onclick="changePassword();">确定</a>
                <a href="#" class="easyui-linkbutton darkblue" iconCls="icon-cancel" onclick="javascript:$('#sales_data').dialog('close')">关闭</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    //切换sidebar引导箭头方向
    $(function () {
        $('#pf-sider').on('click',' .toggle-icon',function () {
            $(this).toggleClass('icon-right')
        })

        $('#tabs1').tabs({
            tabHeight: 44,
        });
        //初始化首页面板
        $('#tabs1').tabs('add', {
            title: '汽车管理系统欢迎您！',
            closable: false,
            content: '<div class="iframe-container"><iframe id="iframe" class="page-iframe" src="' + getRootPath__() + '/firstPage" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe></div>',
        });
        setInterval("fnDate();",1000); //每隔一秒运行一次
    })

    //取得系统当前时间
    function fnDate(){
        var date=new Date();
        var year=date.getFullYear();//当前年份
        var month=date.getMonth();//当前月份
        var data=date.getDate();//天
        var hours=date.getHours();//小时
        var minute=date.getMinutes();//分
        var second=date.getSeconds();//秒
        $("#showDate").html("现在是:"+year+"年"+fnW((month+1))+"月"+fnW(data)+"日"+"  "+fnW(hours)+":"+fnW(minute)+":"+fnW(second)); //将值赋给div
    }
    //补位 当某个字段不是两位数时补0
    function fnW(str){
        var num;
        str>10?num=str:num="0"+str;
        return num;
    }
</script>
</body>
</html>

