#visit_info tr{height:35px;}
#visit_info td th{text-align:right;}
#visit_info input{width:150px;}
#visit_info select{width:200px;}
#order_info tr{height:35px;}
#order_info td th{text-align:right;}
#order_info input{width:150px;}
#order_info select{width:200px;}